# === Java / Spring Boot ===
target/
*.class
*.jar
*.war
*.log

# Maven wrapper
backend/.mvn/wrapper/maven-wrapper.jar

# === IDE ===
.idea/
*.iml
*.ipr
*.iws
.vscode/
.sts4-cache/
*.swp

# === Node / React ===
node_modules/
dist/
.env

# === OS-specific ===
.DS_Store
Thumbs.db

# === NetBeans (если не используется, можно удалить) ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# === STS (Spring Tool Suite, если не используется — тоже можно удалить) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Spring Boot конфиг
src/main/resources/application.properties

